doctype html
html
   head
      title 400 Invalid Request

   body
      h1 400 - Table Fault / Invalid Request
      <img alt="Table Fault" src="/images/tablefault_82x124.png" width="82" height = "124"/>
      h2 Sorry, your request has been refused because: #{error.details}

