doctype html
html
   head
      title 403 Forbidden

   body
      h1 403 - Refusal / Forbidden
      <img alt="Refusal" src="/images/refusal_187x231.png" width="187" height = "231"/>
      h2 Sorry, your request has been refused because: #{error.details}

