doctype html
html
   head
      title 404 not found

   body
      h1 404 - Wrong Course / Not Found
      <img alt="Wrong Course" src="/images/wrongcourse_136x132.png" width="136" height = "132"/>
      h2 Sorry, the page you are looking for,
      h3 "#{url}",
      h2 does not exist.
