doctype html
html
   head
      title Error #{error.errorcode} #{error.details}
      body
         h1 #{error.errorcode} - Fault / Error
         img(src="/images/fault_194x124.png" width="194" height = "124")
         h2 Sorry, we dropped a bar:  #{error.message}