extends nextq1

block content

   // not sure what to put here
   - var show = shows[0];
   - var mapurl = show.mapurl
   - var s = JSON.stringify(show)
   h4 #{s}

   .googleMap
      img(src="#{mapurl}")