doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/gobf.css')
      
      script(src="/javascripts/gobf.js")
         
      title Help support this website
      body
         h1 If you want to support the NextQ web site...
         h3 When you book a room through BringFido, please enter NEXTQ in Step 4: Gift Code or Referrer ID
         p It should look like this as you checkout:
         <img class="bfhelp" src="/images/bf4.png" width="386" height = "62"/>
         <br><br><br><br>
            
         div
            <input id="directBF" type="checkbox" >Got it, don't show this page again
            <a class="okbutton" href="#{bfrdURl}" title="Go to BringFido" onclick="onBF2();">OK, go to BringFido</a>