// basic layout with header and footer, extend this instead of layout.jade

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/nextq1.css')
      block head

   body
      include ../public/header1.html

      block content

      include ../public/footer1.html