extends nextq1

block head
   link(rel='stylesheet', media='print', href='/stylesheets/print.css')
   link(rel='stylesheet', href='/stylesheets/alertifyjs.com.min.css')
   link(rel='stylesheet', href='/stylesheets/alertifyjs.com.default.min.css')
   link(rel='stylesheet', href='/stylesheets/showtable.css')
   
   script(src="/javascripts/sorttable.js")
   script(src='/javascripts/jquery-2.0.3.min.js')
   script(src='/javascripts/alertifyjs.com.min.js')
   script(src='/javascripts/googleanalytics.js')
   script(src='/javascripts/showlist.js')
      
block content
   - var todayStr = today
   div.showtable_H3
      form(action="/ag/snap" onsubmit="return onSnapshot()")
         <a href="#{againURL}" title="go back and set search criteria again"><img src="/images/search_32x32.png" width="32" height="32">Again</a>
         <a id="showlist_help" title="help" href="/help.html#AfterSearching" target="_blank"><img alt="Help" id="search_help" title="Help" src="/images/help_32x32.png" width="32" height="32"></a>
         b #{title}    
         input(type="hidden" name="snap" id="snap" value="")
         input(type="hidden" name="near" id="near" value="")
         <a class=buttonish href="#{origUrl}&format=ics" title="Save as a iCal (.ics) file" onclick="trackClick('download','ics');"><img src="/images/downloadical_84x48.png" width="84" height="48"></a>
         <a class=buttonish href="#{origUrl}&format=csv" title="Save as a CSV (.csv) file"  onclick="trackClick('download','csv');"><img src="/images/downloadcsv_84x48.png" width="84" height="48"></a>
         <button id="submit" type=submit onclick="trackClick('button','heart');"><img src="/images/heart_110x48.png" alt="snapshot" title="Show only selected shows" width=110 height=48></button> 
         <button onclick="return clearInterests()"><img src="/images/heart_delete_110x48.png" alt="clear" title="Clear all selected shows" width=110 height=48></button>
      
   table#showtable.sortable
      thead.tooltip(style="cursor:pointer;" title="Click to Sort")
         tr
            td Org
            td.sorttable_nosort(title="Show documents") Link(s)
            td Location
            td Date
            td Club  
            // td.sorttable_nosort More
            td <img width="16" height="16" src="/images/heart_16x16.png" alt="Like">
            // td.sorttable_nosort Weather
            td Miles
            td.sorttable_nosort(title="See a local map") Map
            td.sorttable_nosort(title="Find dog-friendly lodging") Lodging 
      tbody
         each show in shows
            - var ORG = show.org.toUpperCase();
            //- var interest = getInterest(show._id);
            tr.showtr
               td #{ORG}
               td.sorttable_nosort
                  each url in show.urls
                     - var thesrc = url.indexOf('.pdf') > 0 ? '/images/pdf_20x20.png' : '/images/external_20x20.png'
                     <a href=#{url} onclick="trackClick('download','premium',{'url':'#{url}'});"><img width="20" height="20" src="#{thesrc}" alt="Link" title="Show documents"></a>
               td #{show.location}
               td(sorttable_customkey="#{show._id}") #{show.days}
               td #{show.club}  
               // td <a href="/ag/expand/#{show._id}"><img width=24 height=24 src="/images/expand_24x24.png" alt="Details"></a>
               td <input class="sinterest" sid="#{show._id}" type="checkbox" onchange="setInterest(this)">
               // td.sorttable_nosort <a href="/rd/yw/#{show.location}"><img width="70" height="24" src="/images/YahooWeather_70x24.png" alt="Weather"></a>
               td.align_right #{fns.distance(show)}
               td.sorttable_nosort <a href="https://maps.google.com/maps?q=#{show.location}" onclick="trackClick('outbound','map');"><img width="20" height="20" src="/images/googlemaps_20x20.png" alt="Map"></a>
               td.sorttable_nosort <a href="/rd/bf/#{show.location}" onclick="onBF1(event);" ><img width="57" height="20" src="/images/bringfido_57x20.png" alt="BringFido" title="Find dog-friendly lodging"></a>

   script.
      $(onShowlistReady($));
