/* stylesheet specific to index.html */


.left {
    float:left;
    width: 60%;
}

.right {
    float: right;
    width: 35%;
}



#search_form {
    float:left;
    background-color: #EEEEEE;
    outline: black solid thin;
    /* resize: both; overflow: auto; */
}


#search_form  form{
    margin: 10px;
}

#search_form #fclubs label {
    display:block
}

#search_form #fw {
    float: right;
    margin-top: -36px;
}

#search_form #submitandhelp {
    float:right;
    margin-top: -5px;
}

#search_form #submit {
    width: 144px;
    height: 40px;
    margin-right: -30px;
    background-color: white;
    border: groove;
}

#search_form #submit:hover {
    cursor: pointer;
    border-color: darkred;
}

#search_form #fww label[for="end"] {
    padding-left: 10px;
    padding-right: 10px;
}

#search_form #fww label[for="near"] {
    padding-right: 8px;
}

#search_form #fww input #within {
    padding-left: 8px;
}

/* never got this to work, used &nbsp; instead
#search_form #fww label[for="within"] {
    padding-left: 0px;
}
*/

#miles, #near {
    text-align: right;
}

#main_article {
    position: absolute;
    left: 600px;
    top: 142px;
    width: auto;
    outline: black solid thin;
    overflow: hidden;
    padding-right: 5px;
}

#main_article h2, h3, h4 {
    margin-left: 20px;
}

#main_article ul {
    margin-left: -10px;
}

#main_article article {
    border: 2px solid buttonface;
    margin: 4px;
    padding: 6px;
}

.marginleft20 {
    margin-left: 20px; 
}

