/* stylesheet for "mobile" small devices
   mainly turn off the map and turn on the statechooser_chosen
   TODO figure out how to put the article at the bottom...
 */

header #title1 {
    font-variant: small-caps;
    font-size: 1.2em;
    margin-left: 10px;
}

#us-map {
    display: none;  
}

#statechooser {
    display: block;
}

#statechooser_chosen {
    display: block;
}

#main_article {
    display: none;
}

.no-m {
    display: none;
}
