/* basic stylesheet overall overrides, header, and footer */


html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    padding: 10px;
    font: 14px Verdana, Arial, sans-serif;
    margin: 0 0 1.42em; /* bottom = footer height */
}

#title1 {
    color: #00cc00;
}

a {
    color: darkred;
    text-decoration: none;
}


a[href^="http"] {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}

a[href^="http"].no_ext {
    background: none;
    padding-right: 0px; 
}


.no_bullet {
    list-style-type: none;
}

.ul_youtube {
    list-style-image: url(../images/youtube_circle_12x12.png);
}

.ul_youtube a {
    background: none;
}

/*
a[href^="http://youtu"] {
    background: url(../images/youtube_circle_16x16.png) center left no-repeat;
    padding-left: 20px;
}
*/

a:visited {
    color: blueviolet;
}

a:hover {
    color: darkred;
}


.align_right {
    text-align: right;
}

ul.ul_links {
    list-style-image: url(../images/external.png);
}

figure {
    margin: 0.71em;
}


#search_help {
    margin-left: 30px;
}

.left {
    float:left;
    width: 60%;
}

.right {
    float: right;
    width: 35%;
}

header {
    position: relative;
    width: 100%;
    height: 122px;
    float: left;
    font-size: 2.4em;
    margin-bottom: 10px;
}

header #falogo {
    float: left;
}

header #title1 {
    font-variant: small-caps;
    font-size: 1.4em;
    margin-left: 20px;
}

header #title2 {
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: normal;
    margin-left: 300px;
}

header nav {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    overflow:hidden;
    background: palegoldenrod
}


header nav ul {
    display: inline;
    list-style: none;
}


header nav li {
    text-decoration: none;
    float: left;
    margin-left: 20px;
}


header nav ul li a{
    text-decoration: none;
    color: dimgray;
}


header nav ul li a#where {
    text-decoration: none;
    color: darkred;
}

header nav ul li a:visited{
    color: dimgray;
}

header nav ul li a:hover{
    color: darkred;
}


footer {
    clear: both;
    position: relative;
    top: 6px;
    padding: 4px;
    font-size: 0.8em;
    font-weight: bold;
    background: palegoldenrod;
}

/* TODO : unhappy with the padding hack */
a.buttonish {
    background-color: buttonface;
    padding: 27px 2px 0px;
    border: 2px outset buttonface;
}

#submitFW label {
    width: 80px;
    float: left;
}

#submitFW input, textarea {
    width: 220px;
}

.columns2 {
  -webkit-column-width: 500px;
  -moz-column-width: 500px;
  column-width: 500px;
}

.columns2contained {
    -webkit-object-fit: contain;
    -moz-object-fit: contain;
    -o-object-fit: contain;
    object-fit: contain;
}

.archives article {
    border: 2px solid buttonface;
    margin: 4px;
    padding: 6px;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
}

   

