header, aside, .showtable_H3 {
    display: none;
}

main.left {
   font: 12pt;
    width: auto;
    margin: 0;
    padding: 0;
}

/* this may be too extreme... */
.right {
    display: none;
}

td.sorttable_nosort {
    display: none;
}
