/* css for showtables */

/* turn off external link bit */
a[href^="http"] {
    background: none;
    padding-right: 0;
}

#search_help {
    margin-left: 0px;
}

#showtable {
    font-family: verdana,arial,sans-serif;
    border: 1px dimgray;
    border-collapse: collapse;
}

#showtable thead {
    padding: 8px;
    border: 1px solid dimgray;
    background-color: gainsboro;
    font-weight: bold;
}

#showtable td {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid dimgray;
}

#showtable td img {
    padding-top: 3px;
}


.showtable_H3 {
    position: relative;
    top: -10px;
    clear: both;
    font-size: 1.6em;
    padding-left: 5px;
}

.showtable_H3 b, a {
    padding: 5px;
}



.showtable_H3 input {
    position: relative;
    top: 8px;
}


.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok{
    background-color: green;
    background: green;
    color: white;
}

.alertify .ajs-header{
    background-color: white;
    background: white;
    color: green;
}