body {
  position: relative;
  padding: 10px;
  font: 14px Verdana, Arial, sans-serif;
  margin: 0 0 20px; /* bottom = footer height */
}

body h2 {
    margin-left: 100px;
}

legend {
    font-weight: bold;
}

a {
  color: darkred;
  text-decoration: none;
}


a[href^="http"] {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}

/* no explicit external links on the show table page */
table#showtable a {
    background: none;
    padding-right: 0;
}


a:visited {
    color: blueviolet;
}

a:hover {
    color: darkred;
}

article {
    margin: 0px;
}

figure {
    margin: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 122px;
    float: left;
    font-size: 2.4em;
    margin-bottom: 10px;
}

header #falogo {
    float: left;
}

header #title1 {
    font-variant: small-caps;
    font-size: 1.4em;
    margin-left: 20px;
}

header #title2 {
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: normal;
    margin-left: 300px;
}

header nav {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    overflow:hidden;
    background: palegoldenrod
}


header nav ul {
    display: inline;
    list-style: none;
}


header nav li {
    text-decoration: none;
    float: left;
    margin-left: 20px;
}


header nav ul li a{
    text-decoration: none;
    color: dimgray;
}


header nav ul li a#where {
    text-decoration: none;
    color: darkred;
}

header nav ul li a:visited{
    color: dimgray;
}

header nav ul li a:hover{
    color: darkred;
}



ul.ul_links {
    list-style-image: url(../images/external.png);
}

.left {
    float:left;
    width: 60%;
}

.right {
    float: right;
    width: 35%;
}


#search_form {
    float:left;
    background-color: #EEEEEE;
	outline: black solid thin;
   /* resize: both; overflow: auto; */
}


#search_form  form{
    margin: 10px;
}

#search_form #fclubs label {
   display:block
}

#search_form #submitandhelp {
    float:right; 
    margin-top: -5px;
}

#search_form #submit {
    width: 144px;
    height: 40px;
    margin-right: -30px;
    background-color: white;
    border: groove;
}

#search_form #submit:hover { 
    cursor: pointer; 
    border-color: darkred;
}

#search_form #fww label[for="end"] {
    padding-left: 10px;
    padding-right: 10px;
}

#search_form #fww label[for="near"] {
    padding-right: 8px;
}

#search_form #fww input #within {
    padding-left: 8px;
}

/* never got this to work, used &nbsp; instead
#search_form #fww label[for="within"] {
    padding-left: 0px;
}
*/

#miles, #near {
    text-align: right;
}

#main_article {
    position: absolute;
    left: 600px;
    top: 142px;
    width: auto;
    outline: black solid thin;
    overflow: hidden;
}

#main_article h2 {
    margin-left: 20px;
}

#main_article ul {
    margin-left: -10px;
}

#main_article section {
    margin-left: -20px;
}


footer {
    clear: both;
    position: relative;
    top: 6px;
    padding: 4px;
    font-size: 0.8em;
    font-weight: bold;
    background: palegoldenrod;
}

footer #Google {
    position: relative;
    left: 100px;
}


/* styling for show tables */

#showtable {
    font-family: verdana,arial,sans-serif;
    border: 1px dimgray;
    border-collapse: collapse;
}
   
#showtable thead {
    padding: 8px;
    border: 1px solid dimgray;
    background-color: gainsboro;
    font-weight: bold;
}
    
#showtable td {
    padding-left: 6px;
    padding-right: 4px;
    border: 1px solid dimgray;
}

#showtable td img {
    padding-top: 3px;
}

.align_right {
    text-align: right; 
}
/*
#showlist_help {
    margin-left: 100px;
}
*/
.showtable_H3 {
    position: relative;
    top: -15px;
    clear: both;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 1.6em;
    padding-left: 10px;
}

.showtable_H3 b,a {
  /* background-color: palegoldenrod; */
   padding: 5px;
}

.showtable_H3 input {
    position: relative;
    top: 8px;
}

#search_help {
    margin-left: 30px;
}

