<footer>
   <a href="/index.html">Home</a> |
   <a href="/help.html">Help</a> |
   <a href="/about.html">About</a>

   <!-- AddThis Button BEGIN -->
  <span class="right addthis_toolbox addthis_default_style addthis_32x32_style">
   <a class="addthis_button_preferred_1"></a>
   <a class="addthis_button_preferred_2"></a>
   <a class="addthis_button_preferred_3"></a>
   <a class="addthis_button_preferred_4"></a>
   <a class="addthis_button_compact"></a>
   <a class="addthis_counter addthis_bubble_style"></a>
   <a class="no_ext" href="http://jigsaw.w3.org/css-validator/check/referer">
      <img style="border:0;width:88px;height:31px"
           src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
           alt="Valid CSS!"/>
   </a>
   <img src="/images/html5_badge_32x32.png" width="32" height = "32"/>
  </span>
   <script type="text/javascript">var addthis_config = {"data_track_addressbar": true, data_ga_property: 'UA-49394693-1', data_ga_social : true };</script>
   <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5310bd58602c4090"></script>
   <!-- AddThis Button END -->

   <!-- AddThis Button END -->


   <br>
   <small>&copy;2014 Morgan Conrad</small>
</footer>