<header>
    <a href="/index.html"><img alt="Go to Home Page" title="Go to Home Page" id="falogo" src="/images/nextq_home_242x122.jpg" width="242" height = "122"/></a>
    <span id="title1">NextQ</span>
    <h1 id="title2">Agility Trial Search Results</h1>
    <nav id="main_nav">
        <ul>
            <li id="home"><a href="/index.html">Home</a></li>
            <li id="help"><a href="/help.html">Help</a></li>
            <li id="about"><a href="/about.html">About</a></li>
        </ul>
    </nav>
</header>